@media only screen and (max-width: 426px) {
  .Topmargin {
    margin-top: 25px;
  }
}

.mainImageDiv {
  position: relative;
}
.text_list_1 {
  position: absolute;
  top: 20%;
  transform: translateY(-69%);
  left: 40px;
  color: white;
  font-family: poppins;
  line-height: 35px;
  font-size: 27px;
}

.text_list_2 {
  position: absolute;
  top: 20%;
  transform: translateY(10%);
  left: 40px;
  color: white;
  font-family: poppins;
  line-height: 25px;
  font-size: 14px;
}

.text_list_button {
  position: absolute;
  bottom: 13%;
  left: 40px;
}

.text_list_button a {
  font-size: 12px;
  font-family: poppins;
  font-weight: 500;
  line-height: 25px;
  padding: 15px 30px;
  background-color: white;
}

.main_div_2 {
  position: relative;
}

.Image_2_text_1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 75px;
  line-height: 83.8px;
  font-family: italiana;
  color: white;
}

.Image_2_text_2 a {
  position: absolute;
  left: 0;
  right: 0;
  top: 68%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 12px;
  line-height: 25px;
  font-family: poppins;
  color: white;
  font-weight: 500;
}

@media only screen and (max-width: 992px) {
  .text_list_1 {
    top: 30%;
  }
}

@media only screen and (max-width: 576px) {
  .text_list_1 {
    top: 35%;
  }
}

@media only screen and (max-width: 992px) {
  .text_list_2 {
    top: 40%;
  }
}

@media only screen and (max-width: 329px) {
  .text_list_button {
    top: 70%;
    margin-left: 25px;
  }
}

@media only screen and (max-width: 752px) {
  .main_div_2 {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 321px) {
  .Image_2_text_1 {
    font-size: 65px;
  }
}

.box {
  overflow: hidden;
}

.box img {
  width: 100%;
  height: 100%;
  transition: scale 700ms;
}

.box img:hover {
  scale: 102%;
}
